---
import RevyLogo from "@/images/revy-logo.webp";

import { Image } from "astro:assets";
---

<div class="flex items-center justify-center gap-1.5">
  <Image
    src={RevyLogo}
    id="navbar-logo"
    class="h-[2.2rem] w-[2.2rem]"
    alt="Logoen til Abakusrevyen"
    loading="eager"
  />
  <span
    id="navbar-title"
    class="font-serif text-xl font-medium tracking-tight md:text-2xl"
  >
    Abakusrevyen
  </span>
</div>
