---
import { Image } from "astro:assets";

import { PREVIOUS_REVUES } from "@/lib/constants";
---

<div class="grid max-w-full grid-flow-col grid-rows-2 px-6 md:grid-rows-1">
  {
    PREVIOUS_REVUES.toReversed()
      .slice(0, 8)
      .map(({ name, logo, links }) => (
        <div class="w-[1fr] transition-transform odd:-rotate-12 even:rotate-12 hover:scale-110">
          <a href={links[0].href} target="_blank">
            <Image
              src={logo}
              alt={`${name} logo`}
              loading="eager"
              class="rounded-md"
            />
          </a>
        </div>
      ))
  }
</div>
