---
import { Image } from "astro:assets";

import { PREVIOUS_REVUES } from "@/lib/constants";
---

<div class="grid grid-flow-col md:grid-rows-1 grid-rows-2 px-6 max-w-full">
  {
    PREVIOUS_REVUES.slice(0, 8).map(({ name, image, links }) => (
      <div class="w-[1fr] even:rotate-12 odd:-rotate-12 hover:scale-110 transition-transform">
        <a href={links[0].href} target="_blank">
          <Image src={image} alt={`${name} logo`} />
        </a>
      </div>
    ))
  }
</div>
