---
import { Image } from "astro:assets";

import ShowLogoLight from "@/images/revy_logoer/objektivt_sett_light_logo.webp";
import ShowLogoDark from "@/images/revy_logoer/objektivt_sett_dark_logo.webp";

const { class: className } = Astro.props;
---

<div class={className}>
  <Image
    loading="eager"
    src={ShowLogoLight}
    alt="Revy logo"
    class="w-[50vh] dark:hidden"
  />
  <Image
    loading="eager"
    src={ShowLogoDark}
    alt="Revy logo"
    class="hidden w-[50vh] dark:block"
  />
</div>
