---
import { Image } from "astro:assets";

import IGrevensTid from "@/images/revy_logoer/grevens_tid_logo.webp";

const { class: className } = Astro.props;
---

<div class={className}>
  <Image loading="eager" src={IGrevensTid} alt="Revy logo" class="w-[50vh]" />
</div>
