{
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "trailingComma": "all",
  "bracketSpacing": true,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "semi": true,
  "overrides": [
    {
      "files": ["*.astro"],
      "options": {
        "parser": "astro"
      }
    },
    {
      "files": [".prettierrc"],
      "options": {
        "parser": "json"
      }
    }
  ],
  "tailwindStylesheet": "./src/styles/globals.css",
  "tailwindConfig": "./tailwind.config.mjs"
}
