---
import Title from "@/components/Common/Title.astro";
import SubgroupGrid from "@/components/Subgroups/SubgroupGrid.astro";
import PageLayout from "@/layouts/PageLayout.astro";
---

<PageLayout title="Grupper">
  <div class="container mx-auto space-y-6">
    <Title>Grupper</Title>
    <SubgroupGrid />
  </div>
</PageLayout>
