---
import SubgroupGrid from "@/components/Subgroups/SubgroupGrid.astro";
import PageLayout from "@/layouts/PageLayout.astro";
---

<PageLayout title="Grupper">
  <div class="container mx-auto space-y-6">
    <h2 class="text-2xl text-center font-medium">Grupper</h2>
    <SubgroupGrid />
  </div>
</PageLayout>
