---

---

<!doctype html>
<html>
  <head>
    <script>
      import { disableOnlineTheme } from "@/lib/online";
      disableOnlineTheme();
      window.location.href = "/";
    </script>
  </head>
  <body> </body>
</html>
