@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    font-style: normal;
    src: url(/fonts/Inter/Inter-VariableFont_opsz,wght.ttf) format(truetype);
  }
  @font-face {
    font-family: "Inter";
    font-style: italic;
    src: url(/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf)
      format(truetype);
  }
  @font-face {
    font-family: "Tauri";
    src: url(/fonts/Tauri/Tauri-Regular.ttf) format(truetype);
  }

  @font-face {
    font-family: "Lcd";
    src: url(/fonts/Lcd/LCD14.otf) format(truetype);
  }

  /* Variable CSS colors */
  :root {
    color-scheme: light;
    --foreground: #1d1d1b;
    --background: #f8f9fa;
    --accent: #595959;
    --background-accent: #fff;
    --primary: #e21617;
    --secondary: #b21c17;
  }

  .dark {
    color-scheme: dark;
    --foreground: #f8f9fa;
    --background: #0d0d0d;
    --accent: #d9d9d9;
    --background-accent: #222;
  }

  .online {
    --primary: #127dbd;
    --secondary: #0d5474;
  }

  .star-wars {
    --primary: #ffd700;
    --secondary: #ffe81f;
  }
}
