---
import { Image } from "astro:assets";

interface Props {
  src: string | ImageMetadata;
  alt: string;
  class?: string;
  style?: string;
}

const { src, alt, class: className, style, ...rest } = Astro.props;
const image = typeof src === "string" ? src : src.src;
---

<div
  class:list={[
    "aspect-square h-full rounded-lg bg-cover bg-center first:rounded-r-none last:rounded-l-none",
    className,
  ]}
  style={`background-image: url(${image}); ${style}`}
  {...rest}
>
  <slot />
</div>
