---
const { name, image } = Astro.props;
---

<div
  class="flex aspect-[5/6] w-full flex-col justify-end rounded-lg bg-cover bg-center p-1.5"
  style={`background-image: url(${image})`}
>
  <div class="w-full rounded-md bg-background px-3 py-1 text-center opacity-90">
    <slot name="name">
      <h6 class="font-bold">
        {name}
      </h6>
    </slot>
    <slot />
  </div>
</div>
