.video-wrapper {position: relative; padding-bottom: 56.25%; /* 16:9 */  padding-top: 25px;}
.video-wrapper iframe {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

.logo-wrapper {position: relative; padding-bottom: 56.25%; /* 16:9 */  padding-top: 25px;}
.logo-wrapper img {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

.img-container-revy {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    margin-top: 25%;
    margin-bottom: 25%;
    padding-top: 10%;
    padding-bottom: 35%;
}
   
.img-contanier-text {
 font-size: 70px;
}

.custom-navbar.affix .nav-link.btn-main-red {
    color: #fff !important;
}


.btn-main-red {
    color: #fff;
    background-color: #CC2127;
    border-color: #CC2127;
  }

  .btn-main-red .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  }
  
  .btn-main-red:hover {
    color: #fff;
    background-color: #B81E23;
    border-color: #B81E23;
    visibility: visible;
  }
  
  .btn-main-red:hover .btn-hover-text {
    visibility: visible;
  }
  
  .btn-main-red:focus, .btn-main-red.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 66, 105, 0.5);
  }
  
  .btn-main-red.disabled, .btn-main-red:disabled {
    color: #fff;
    background-color: #CC2127;
    border-color: #CC2127;
  }
  
  .btn-main-red:not(:disabled):not(.disabled):active, .btn-main-red:not(:disabled):not(.disabled).active,
  .show > .btn-main-red.dropdown-toggle {
    color: #fff;
    background-color: #ed0031;
    border-color: #e0002e;
  }
  
  .btn-main-red:not(:disabled):not(.disabled):active:focus, .btn-main-red:not(:disabled):not(.disabled).active:focus,
  .show > .btn-main-red.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 66, 105, 0.5);
  }

  .header {
    height: 100%;
    min-height: 600px;
    background: url(../imgs/gruppebilder/best_foer_gruppebilde2.png) no-repeat center center fixed;
    background-size: cover;
  }

.header-content {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 140px 15% 15%;
}

@media(max-width: 992px) {
    .header-content {
        padding: 140px 6% 6%;
    }

    .custom-navbar {
        background-color: rgb(15, 15, 15);
    }
    .custom-navbar .navbar-nav {
        padding-bottom: 20px;
    }
}