---
import Show from "@/layouts/Home/Show.astro";
import Break from "@/layouts/Home/Break.astro";
import Recruitment from "@/layouts/Home/Recruitment.astro";

import { getCurrentPeriod } from "@/lib/periods";

const period = getCurrentPeriod();
---

{
  period == "break" ? (
    <Break />
  ) : period === "recruitment" ? (
    <Recruitment />
  ) : period === "showCurrent" ||
    period === "showCountdown" ||
    period === "ticketsCountdown" ? (
    <Show />
  ) : (
    // showCountdown or ticketCountdown
    <h1>Ukjent periode</h1>
  )
}
