---
import Logo from "./Logo.astro";
import Navbar from "./Navbar/Navbar.astro";
---

<header class="w-full">
  <div class="container flex mx-auto px-6 py-3 justify-between">
    <a href="/">
      <Logo />
    </a>

    <Navbar />
  </div>
</header>
