---
import Logo from "../Branding/Logo.tsx";
import Navbar from "./Navbar/Navbar.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";

import MobileNavbar from "./MobileNavbar/MobileNavbar";

const ITEMS = {
  "/opptak": "Opptak",
  "/om_oss": "Om oss",
  "/galleri": "Bildegalleri",
  "/revyer": "Tidligere revyer",
};
---

<header class="w-full">
  <div
    class="container mx-auto flex h-32 items-center justify-between px-6 py-3"
  >
    <div class="md:text-red flex gap-6">
      <div class="hidden md:flex">
        <a href="/" data-astro-prefetch="load">
          <Logo />
        </a>
        <Navbar items={ITEMS} />
        <ThemeSwitcher />
      </div>

      <div class="flex md:hidden">
        <MobileNavbar client:load items={ITEMS} />
      </div>
    </div>
  </div>
</header>
