---
import Logo from "./Logo.astro";
import Navbar from "./Navbar/Navbar.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";

import MobileNavbar from "./MobileNavbar/MobileNavbar";

import { AlignJustify } from "lucide-astro";

const ITEMS = {
  "/opptak": "Opptak",
  "/oss": "Om oss",
  "/galleri": "Bildegalleri",
  "/revyer": "Tidligere revyer",
};
---

<header class="w-full">
  <div class="container h-32 flex mx-auto px-6 py-3 justify-between items-center">
    <a href="/" data-astro-prefetch="load">
      <Logo />
    </a>

    <div class="flex gap-6 md:text-red">
      <div class="hidden md:flex">
        <Navbar items={ITEMS} />
      </div>

      <ThemeSwitcher />

      <div class="flex md:hidden">
        <MobileNavbar client:load items={ITEMS}>
          <span class="text-foreground hover:text-accent transition-colors">
            <AlignJustify />
          </span>
        </MobileNavbar>
      </div>
    </div>
  </div>
</header>
