---
import { Sun, MoonStar } from "lucide-astro";
---

<button
  id="themeSwitcher"
  class="text-foreground transition-colors hover:text-accent"
>
  <span class="hidden hover:text-yellow-500 dark:block">
    <Sun />
  </span>
  <span class="block dark:hidden">
    <MoonStar />
  </span>
</button>

<script is:inline>
  function switchTheme() {
    let nowPresent = window.document.documentElement.classList.toggle("dark");
    localStorage.setItem("darkTheme", nowPresent);
  }

  window.document
    .getElementById("themeSwitcher")
    .addEventListener("click", switchTheme);
</script>
