---
import { Sun, MoonStar } from "lucide-astro";
---

<button class="text-foreground transition-colors hover:text-accent">
  <span class="hidden hover:text-yellow-500 dark:block">
    <Sun />
  </span>
  <span class="block dark:hidden">
    <MoonStar />
  </span>
</button>

<script is:inline>
  {
    document.currentScript.previousElementSibling.addEventListener(
      "click",
      () => {
        localStorage.setItem(
          "darkTheme",
          document.documentElement.classList.toggle("dark"),
        );
      },
    );
  }
</script>
