---
interface Props {
  class: string;
  date: Date | string;
}

const { class: className, date } = Astro.props;
const now = new Date();
---

<li class={now < date ? "opacity-100" : "opacity-50"}>
  <div class="flex items-center gap-3">
    <div class="w-3 aspect-square rounded-full bg-primary"></div>
    <span class="font-medium">
      {
        date.toLocaleString("nb-NO", {
          day: "numeric",
          month: "long",
          year: "numeric",
          hour: "numeric",
          minute: "2-digit",
        })
      }
    </span>
  </div>
  <div
    class="ml-1.5 pl-[1.125rem] border-l-[1px] border-foreground border-dashed pr-3"
  >
    <div class:list={["py-3", className]}>
      <slot />
    </div>
  </div>
</li>
