---
import HomePageLayout from "./HomePageLayout.astro";
import { Image } from "astro:assets";

import groupPhoto from "@/images/gruppebilder/grevens_tid.webp";
---

<HomePageLayout>
  <div class="flex w-full flex-col items-center justify-center gap-6">
    <h1 class="text-2xl font-medium">Takk for i år!</h1>
    <div class="max-w-screen-lg overflow-hidden rounded-lg">
      <Image src={groupPhoto} alt="Bilde av revymedlemmene" loading="eager" />
    </div>
    <p class="mx-auto max-w-prose text-center">
      Revyen er over for i år, men vi kommer tilbake enda sterkere neste år! Vi
      har hatt det utrolig gøy, og håper at dere likte revyen vår. Kom igjen!
    </p>
  </div>
  <div slot="recruitment" class="!mt-0"></div>
</HomePageLayout>
