---
import HomePageLayout from "./HomePageLayout.astro";

import CountdownComp from "@/components/Countdown/Countdown.astro";
import ShowLogo from "@/components/Branding/ShowLogo.astro";
import ShowDetailsCard from "@/components/Show/ShowDetailsCard.astro";

interface Props {
  date: Date;
}

const { date } = Astro.props;
---

<HomePageLayout>
  <div class="w-full flex flex-col justify-center items-center gap-6">
    <CountdownComp date={date} />
    <ShowLogo />
    <ShowDetailsCard when={date} />
  </div>
</HomePageLayout>
