---
import { Image } from "astro:assets";
import HomePageLayout from "./HomePageLayout.astro";
import CountdownComp from "@/components/Countdown/Countdown.astro";

import SvinPaaSkogenLogo from "@/images/revy_logoer/Svin_paa_skogen_logo.png";

interface Props {
  date: Date;
}

const { date } = Astro.props;
---

<HomePageLayout>
  <div class="w-full flex flex-col justify-center items-center">
    <CountdownComp date={date} />
    <div class="">
      <Image src={SvinPaaSkogenLogo} alt="Revy logo" class="w-[50vh]" />
    </div>
    <div>
      <span>Byscenen</span>
      <span>{date.toLocaleDateString()}</span>
      <span><button>Kjøp bilett</button></span>
    </div>
  </div>
</HomePageLayout>
