---
import HomePageLayout from "./HomePageLayout.astro";

import CountdownComp from "@/components/Countdown/Countdown.astro";
import ShowLogo from "@/components/Branding/ShowLogo.astro";
import ShowDetailsCard from "@/components/Show/ShowDetailsCard.astro";
import { SHOWS } from "@/lib/constants";
import { nextShow } from "@/lib/periods";

const show = nextShow() ?? SHOWS.toReversed()[0];
---

<HomePageLayout>
  <div class="w-full flex flex-col justify-center items-center gap-6">
    <CountdownComp date={show.when} />
    <ShowLogo />
    <ShowDetailsCard show={show} />
  </div>
</HomePageLayout>
