---
import PageLayout from "../PageLayout.astro";

import Card from "@/components/Card/Card.astro";
import FoldableFade from "@/components/FoldableFade/FoldableFade.astro";
import LinkButton from "../../components/LinkButton/LinkButton.astro";
import SubgroupGrid from "@/components/Subgroups/SubgroupGrid.astro";
import { Image } from "astro:assets";

import { SOCIALS } from "@/lib/constants";
---

<PageLayout {...Astro.props}>
  <div class="container p-3 mx-auto space-y-12 mb-12">
    <slot />
    <slot name="prev-revy">
      <h2 class="font-medium text-xl text-center">
        Revyen <span class="text-primary">2023</span>
      </h2>
      <iframe
        width="560"
        height="315"
        class="mx-auto rounded-md max-w-full"
        loading="lazy"
        src="https://www.youtube.com/embed/GzcgzNqLaRc?si=x0vzKFxEYSLJrEId"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>
      <LinkButton class="block m-auto w-fit !mt-4" href="/revyer">
        Andre tidligere revyer
      </LinkButton>
    </slot>
    <slot name="contact">
      <h2 class="font-medium text-xl text-center">Kontakt oss</h2>
      <div
        class="max-w-screen-md mx-auto px-6 grid md:grid-cols-3 grid-cols-1 gap-6"
      >
        {
          SOCIALS.map(({ name, href, Icon, profile }) => (
            <a href={href} aria-label={name}>
              <Card class="hover:bg-gray-100 hover:dark:bg-gray-800 transition-colors">
                <div class="flex flex-col items-center gap-3">
                  {<Icon />}
                  {profile}
                </div>
              </Card>
            </a>
          ))
        }
      </div>
    </slot>
    <slot name="recruitment">
      <h2 class="font-medium text-xl text-center">
        Bli med i <span class="text-primary">Revyen!</span>
      </h2>

      <FoldableFade>
        <SubgroupGrid />
      </FoldableFade>
    </slot>
  </div>
</PageLayout>
