---
import PageLayout from "../PageLayout.astro";
---

<PageLayout {...Astro.props}>
  <div class="container mx-auto">
    <slot />
    <slot name="contact">
      <h2>Kontakt</h2>
    </slot>
    <slot name="recruitment">
      <h2>Opptaket er over!</h2>
    </slot>
  </div>
</PageLayout>
