---
import HomePageLayout from "./HomePageLayout.astro";

import CardDetail from "@/components/Card/CardDetail.astro";
import FoldableFade from "@/components/FoldableFade/FoldableFade.astro";
import LinkButton from "@/components/LinkButton/LinkButton.astro";
import SubgroupGrid from "@/components/Subgroups/SubgroupGrid.astro";
import PreviousRevuesBanner from "@/components/Branding/PreviousRevuesBanner.astro";

import { getCollection } from "astro:content";

const groups = await getCollection("grupper");
---

<HomePageLayout>
  <div class="space-y-3 md:space-y-6">
    <h1 class="text-center text-2xl font-medium">Abakusrevyen har opptak!</h1>

    <PreviousRevuesBanner />
  </div>

  <div class="space-y-3 md:space-y-6">
    <p class="text-center">Søk på verv i revyen og bli å lage årets revy!</p>

    <div
      class="mx-auto grid h-28 max-w-screen-sm grid-cols-1 gap-3 overflow-scroll sm:grid-cols-2 md:h-auto md:grid-cols-3 lg:grid-cols-4"
    >
      {
        groups.map(({ data: { name } }) => (
          <CardDetail>
            <span class="font-medium">{name}</span>
          </CardDetail>
        ))
      }
    </div>

    <div class="flex justify-center">
      <LinkButton href="#">Søk her!</LinkButton>
    </div>
  </div>

  <div slot="recruitment" class="space-y-6">
    <h2 class="text-center text-xl font-medium">
      Opptaket er <span class="text-primary">nå</span>!
    </h2>

    <p class="mx-auto max-w-prose">
      Revyen har opptak nå! Søk på verv i revyen og bli med oss å lage nok en
      topp revy!
    </p>

    <FoldableFade>
      <SubgroupGrid />
    </FoldableFade>
  </div>
</HomePageLayout>
