---
import PageLayout from "@/layouts/PageLayout.astro";
import { getCollection, getEntry, render } from "astro:content";

const entries = await getCollection("om_oss");
---

<PageLayout title="Om oss">
  <h1 class="font-medium text-xl text-center pb-2">Om oss</h1>
  <a
    >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla fermentum
    elit metus, ac consequat arcu hendrerit at. Donec ac arcu pharetra, feugiat
    nisl vel, auctor erat. Donec quis erat id tellus mattis interdum vitae sed
    ante. Nullam vehicula sit amet velit sed volutpat. Sed id facilisis velit.
    Nunc facilisis rutrum nunc et blandit. Maecenas lobortis risus vel ante
    euismod, sed lacinia quam pellentesque. Orci varius natoque penatibus et
    magnis dis parturient montes, nascetur ridiculus mus.</a
  >
  <ul>
    {
      entries.map(({ slug, data: { title } }) => (
        <li>
          <a href={`/om_oss/${slug}`}>{title}</a>
        </li>
      ))
    }
  </ul>
</PageLayout>
