---
import PageLayout from "@/layouts/PageLayout.astro";

import MultiImageCard from "@/components/Card/MultiImageCard.astro";
import Title from "@/components/Common/Title.astro";
import { Image } from "astro:assets";

import { getCollection } from "astro:content";

const om_oss = await getCollection("om_oss");
const groups = await getCollection("grupper");
const leaders = await getCollection("ledere");
---

<PageLayout title="Om oss">
  <div class="container mx-auto space-y-6">
    <Title>Om oss</Title>

    <div
      class="grid grid-cols-2 mx-auto max-w-screen-sm lg:gap-24 md:gap-16 gap-10 py-6 px-6"
    >
      <a href="/grupper" class="group">
        <MultiImageCard
          images={groups.map((group) => ({
            src: group.data.logo,
            alt: `${group.data.name} logo`,
          }))}
        >
          Grupper
        </MultiImageCard>
      </a>

      <a href="/ledere" class="group">
        <MultiImageCard
          images={leaders.map((leader) => ({
            src: leader.data.image,
            alt: `${leader.data.name} picture`,
          }))}
        >
          Ledere
        </MultiImageCard>
      </a>
    </div>

    <ul>
      {
        om_oss.map(({ slug, data: { title } }) => (
          <li>
            <a href={`/om_oss/${slug}`}>{title}</a>
          </li>
        ))
      }
    </ul>
  </div>
</PageLayout>
