---
const SUBPAGES = [
  {
    name: "Opptak",
    href: "/opptak",
  },
  {
    name: "Om oss",
    href: "/om_oss",
  },
  {
    name: "Bildegalleri",
    href: "/galleri",
  },
  {
    name: "Revyer",
    href: "/revyer",
  },
];

import { SOCIALS } from "@/lib/constants";
---

<footer class="mt-12 bg-background text-accent">
  <div
    class="container mx-auto grid grid-cols-1 items-center gap-6 border-t-[1px] border-accent px-6 py-3 md:grid-cols-3"
  >
    <div class="mx-auto w-min md:ml-0">
      <h1
        id="footer-title"
        class="font-serif text-xl font-medium tracking-tight"
      >
        Abakusrevyen
      </h1>
    </div>

    <ul class="mx-auto flex gap-3">
      {
        SUBPAGES.map(({ name, href }) => (
          <li>
            <a href={href}>{name}</a>
          </li>
        ))
      }
    </ul>

    <ul class="mx-auto flex w-min gap-3 md:mr-0">
      {
        SOCIALS.map(({ name, profile, href, Icon }) => (
          <li id={name}>
            <a target="_blank" href={href} aria-label={name + " " + profile}>
              {<Icon />}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</footer>
