---
const { class: className } = Astro.props;
---

<div
  class:list={[
    "prose-base flex flex-col items-center px-6 transition-colors prose-headings:font-medium prose-p:max-w-prose prose-a:text-primary prose-a:underline prose-a:hover:text-secondary",
    className,
  ]}
>
  <slot />
</div>
