---
const { class: className } = Astro.props;
---

<div
  class:list={[
    "prose-base flex flex-col items-center px-6 prose-headings:font-medium prose-p:max-w-prose",
    className,
  ]}
>
  <slot />
</div>
