---
const { class: className } = Astro.props;
---

<div
  class:list={[
    "flex flex-col px-6 items-center prose-base prose-headings:font-medium prose-p:max-w-prose",
    className,
  ]}
>
  <slot />
</div>
