---
import { getCollection } from "astro:content";
import Card from "../Card/Card.astro";
import CardDetail from "../Card/CardDetail.astro";
import { Image } from "astro:assets";

const groups = await getCollection("grupper");
---

<div
  class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-3"
>
  {
    groups.map(({ data: { name, brief, logo } }) => (
      <Card>
        <div class="flex gap-3 font-medium">
          <Image class="w-6 rounded-full" src={logo} alt={`${name} logo`} />
          {name}
        </div>
        <CardDetail>{brief}</CardDetail>
      </Card>
    ))
  }
</div>
