---
import PageLayout from "./PageLayout.astro";
---

<PageLayout {...Astro.props}>
  <slot name="hero" />
  <slot name="contact">
    <h2>Contact</h2>
  </slot>
  <slot name="exanded" />
  <slot name="recruitment">
    <h2>Opptaket er over!</h2>
  </slot>
</PageLayout>
