---
import RootLayout from "./RootLayout.astro";

import Header from "@/components/Header/Header.astro";
---

<RootLayout {...Astro.props}>
  <Header />
  <main>
    <slot> Default </slot>
  </main>
</RootLayout>
