---
import "../styles/globals.css";

const DOMAIN_NAME = "Abakusrevyen.no";

const { title } = Astro.props;

const fullTitle = title ? `${title} | ${DOMAIN_NAME}` : DOMAIN_NAME;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/webp" href="/favicon.webp" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{fullTitle}</title>

    <script is:inline>
      let startInDarkTheme = localStorage.getItem("darkTheme") === "true";
      if (startInDarkTheme) {
        window.document.documentElement.classList.add("dark");
      }
    </script>

    <script>
      import { activate } from "@/lib/secrets/index.ts";
      activate();
    </script>
  </head>
  <body class="bg-background text-foreground transition-colors">
    <slot />
  </body>
</html>
