---
import PageLayout from "@/layouts/PageLayout.astro";

import Grid from "@/components/Common/Grid.astro";
import Title from "@/components/Common/Title.astro";

import { getCollection } from "astro:content";

const leaders = await getCollection("ledere");
---

<PageLayout title="Ledere">
  <div class="mx-auto container space-y-6">
    <Title>
      Møt revyens <span class="text-primary">ledere</span>
    </Title>

    <Grid>
      {
        leaders.map(({ slug, data: { name, image } }) => (
          <a href={`/ledere/${slug}`}>
            <div class="rounded-lg overflow-hidden">
              <img src={image} alt={`${name} profile picture`} />
            </div>
          </a>
        ))
      }
    </Grid>
  </div>
</PageLayout>
