---
import NavLink from "./NavLink.astro";
---

<nav class="flex justify-center items-center">
  <ul class="flex gap-6">
    <NavLink href="/opptak/">Opptak</NavLink>
    <NavLink href="/oss/">Om oss</NavLink>
    <NavLink href="/galleri/">Bildegalleri</NavLink>
    <NavLink href="/revyer/">Tidligere revyer</NavLink>
  </ul>
</nav>
