---
const { class: className, ...rest } = Astro.props;
---

<a
  class:list={[
    "text-lg text-foreground transition-colors hover:text-accent",
    className,
  ]}
  {...rest}
  data-astro-prefetch="load"
>
  <slot />
</a>
